################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rasterizer/.vs/Rasterizer
/Test Outcomes.xlsx
/~$Test Outcomes.xlsx
